@font-face {
  font-family: 'Bedfort';
  src: url(Bedfort.ttf);	
}

header {
   text-align: center;
   margin-right:10%;
   font-size:5em;
   padding:16px;
   font-weight: bold;
   font-family:'Bedfort', Arial, sans-serif;
   color:white;
   text-shadow: 5px 5px 5px black, 9px 8px 0px rgba(0,0,0,0.15);
   background-image: url("arminio.png");
   background-repeat: no-repeat;
   background-position: bottom right;
   background-size: contain; /*contain piccoli schermi*/
}

#menuimg {
  top:1.5%;
  left:1%;
  position:fixed;
  background-color: #4d4d4d;
  border-radius: 10%;
  padding:1%;
  width:2%;
  transition: width 2s;
}

#up {
  bottom:1.5%;
  right:0.5%;
  padding: 1% 0.5% 1% 0.5%;
  position:fixed;
  width:5%;
  height: 5%;
  background-color: #4d4d4d;
  border-radius: 10%;
  transition: height 2s;
  color:white;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
  text-decoration: none;
}

#mappa {
  border: 3px solid rgb(179, 0, 0);
  border-radius: 2%;
  width:70%;
  height:500px;
}

#up img {
  width:70%;
}

#menuimg:hover {
  width:3%;
  cursor: pointer;
}

#up:hover {
  height:8%;
  cursor: pointer;
}

.nome {
  font-weight: bold;
  text-align: center;
  width:40%;
}

#persone th {
  width:auto;
}

.infoperson{
  font-weight: normal;
}

body {
  font-size:18px;
  font-family:'Verdana', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url("sfondo.jpeg");
  background-repeat: repeat;
  background-position: center top;
  background-size: 60%; 
  padding: 1%;
}

h1 {
    text-align: center;
    color:white;
    background-color:#4d4d4d;
    padding:3% 0 3% 0;
    border-radius: 10px;
    font-size:30px;
  }

table {
    table-layout: auto;
    border-collapse: collapse;
    width: 89%;
    margin-left:5%;
  }

#riassunto td {
  text-align: justify;
  line-height: 30px;
}

#trascrizione {
  border:1px solid #4d4d4d;
  padding: 8px; 
  background-color: white;
  width: 88%;
  margin-left:5%;
  line-height: 30px;
  text-align: justify;
  margin-bottom:2%;
}

#places th {
  width:10%;
}

#places td {
  width:40%;
}

h2{
  text-align: left;
  font-weight: bold;
  font-size:40px;
  margin-left:5%;
  padding-left:2%;
  font-family:'Bedfort', Arial, sans-serif;
  color:white;
  text-shadow: 5px 5px 5px #4d4d4d, 9px 8px 0px rgba(0,0,0,0.15);
  border-left:5px solid #4d4d4d;
}

h3{
  text-align: center;
  font-weight: bold;
  font-size:30px;
  padding-left:2%;
  font-family:'Bedfort', Arial, sans-serif;
  color:black;
  text-shadow: 5px 5px 5px silver;
}

  td, th {
    border: 1px solid gray;
    text-align: left;
    padding: 8px;  
  }

  td{
    width: 100%;
    background-color:white;
  }

  th{
    background-color:#dddddd ;
    width: 25%;
    opacity:0.8;
  }

/* Link generici */
a:link {
  color:#b30000;
  text-decoration: none;
}
a:active {
  color: black;
}
a:visited {
  color:#b30000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button { 
  background-color: white; 
  color: black;
  border: none;
  border-radius: 4px;
  padding: 10px;
  width: 40%;
  text-decoration: none;
  cursor: pointer;
  display: block; 
  margin: 1% auto;
  font-size:20px;
}

.sidenav a { 
  width: 100%;
  cursor: pointer;
  font-variant: small-caps;
  text-decoration: none;
  color: white;
  display: block;
  margin:auto;
  word-wrap: break-word;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #4d4d4d;
  overflow-x: hidden;
  transition: 0.5s;
  font-size: 30px;
  background-image: url("arminio2.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

.sidenav a:hover {
  color: red;
  font-weight: normal;
  text-decoration: none;
  transition:1.5s;
}

#home {
  cursor:pointer;
  display:block;
  margin: 5% auto 5% auto;
  width:5%;
}

#home:hover {
  width:6%;
  transition: width .5s;
}

.sidenav .closebtn {
  position: absolute;
  top: 5%;
  text-align: left;
  left: 5%;
  font-size: 35px;
}
/*
@media screen and (max-height: 800px) { sistemare
  .sidenav {padding-top: 15px;}
  .sidenav a {overflow-wrap:break-word; }
  #mySidenav a {width:80%;padding-left:4%;}
  #home {padding:40% 0 0 5%;}
}*/

@media screen and (max-height: 600px) { /*sistemare*/
  #home {width:30%;}
}

#Info {
  text-align:center;
  margin-bottom:3%;
}

button:hover{
  background-color: #ffe6e6;
}

footer {
  margin-top:-1%;
  bottom: 0;
  width: auto;
  background-color: #b30000;
  height: 50%;
  clear: both;
  text-align:center;
  color:white;
  border-radius: 10px;
}

footer span{
  font-variant: small-caps;
  font-size:20px;
}

.vocals {
  color:purple;
  font-weight: bold;
}

.gesti {
  color:green;
  font-weight: bold;
}

.emph {
  color:blue;
  font-weight: bold;
}

.del, .sup {
  text-decoration: line-through;
}

.rum {
  color:tomato;
  font-weight: bold;
}

@keyframes example {
  from {
   color: #b30000;
   font-weight: bold;
  }
  to {
   color: black;
   font-weight: normal;
  }
}

:target {
  animation-name:example;
  animation-duration:8s;
}

#legenda { /*sistemare per il piccolo*/
text-align:center;
float:left;
width:18%;
margin-left:5%;
background-color: #ffe6e6;
border-radius: 50px;
word-wrap: break-word;
position: -webkit-sticky;
position: sticky;
top: 10%;
font-size: 15px;
padding:2%;
}

#legenda select {
  font-size: 17px;
  width:70%;
}

.yi, .org {
  color:blue;
  font-weight: bold;
}

.fr {
  color:purple;
  font-weight: bold;
}

.place, .place a {
  text-decoration-line: underline;
  text-decoration-color: goldenrod;
  text-decoration-thickness: 3px; 
}

.rif, .rif a {
  text-decoration-line: underline;
  text-decoration-color: purple;
  text-decoration-thickness: 3px; 
}

.en {
  color:brown;
  font-weight: bold;
}

.pers, .pers a {
  text-decoration-line: underline;
  text-decoration-color: orangered;
  text-decoration-thickness: 3px; 
}

.rus {
  color:gray;
  font-weight: bold;
}

.cerca {
  display:inline-block;
  width:23%;
  margin:1%;
  word-wrap: break-word;
}

#bottoni {
  text-align: center;
  margin-left:4%;
  margin-right:5%;
}

.arc {
  color: #66ff66;
  font-weight: bold;
}

.lat, .date {
  color:#ff0066;
  font-weight: bold;
}

.informali, .time {
  color:green;
  font-weight: bold;
}

.politiche {
  color:#00ccff;
  font-weight: bold;
}

.military {
  color:red;
  font-weight: bold;
}

.alterate, .mes {
  color:salmon;
  font-weight: bold;
}

.unc {
  border: 2px solid silver;
}

.mdd {
  color:royalblue;
  font-weight: bold;
}

.tec {
  color:#cc66ff;
  font-weight: bold;
}

.fos {
  color:#ff99bb;
  font-weight: bold;
}

.infre {
  color:teal;
  font-weight: bold;
}

.volgari {
  color:#669999;
  font-weight: bold;
}

.slang {
  color: #806000;
  font-weight: bold;
}

.dia {
  color: #000066;
  font-weight: bold;
}

.bold{
  font-weight: bold;
  color:orange;
}

.agg{
  color:#00cc99;
}

select {
font-size: 18px;
min-width:15%;
border: 2px solid #a6a6a6;
}
